.root {
  position: absolute;
  bottom: 0;
}

.container {
  margin: 0 auto;
  padding: 20px 15px;
  width: 100vw;
  text-align: center;
  color: var(--color-dark-black);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: var(--footer-height);
}

.line {
  width: calc(100vw - 10rem);
  height: 2px;
  margin: 0 auto;
}

.dot {
  font-size: 7px;
  vertical-align: middle;
  top: 8px;
  margin: 0px 12px;
  position: relative;
}

.highlight:hover {
  color: var(--color-ocean-blue);
}
