.container {
  max-width: 700px;
  background-color: white;
  display: flex;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, .3);
  font-size: .875rem;
  margin-bottom: 20px;
  margin-right: 20px;
}

@media (max-width: 500px) {
  .container {
    margin-right: 0;
  }
}

.vertical_bar {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 5px;
}

.type_bar {
  flex: 1 1 0;
  height: 100%;
  width: 100%;
}

.pad_right {
  margin-right: 10px;
}

.header {
  background-color: var(--color-ocean-blue);
  width: 100%;
  display: flex;
  padding: 10px 13px;
  color: var(--color-white-blue);
  font-weight: 600;
  letter-spacing: 0.6px;
  align-items: center;
}

.body {
  width: 100%;
}

.left_header {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
}

.right_header {
  flex: 1 0 auto;
  text-align: right;
}

.footer {
  width: 100%;
  display: flex;
  margin-top: 10px;
  padding: 0 8px 5px 8px;
  align-items: center;
}

.left_footer {
  flex: 1 1 auto;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
}

.right_footer {
  flex: 0 0 auto;
  text-align: right;
  color: var(--color-deep-blue);
  font-weight: 600;
}

.message {
  white-space: pre-line;
  margin: 10px 7px 0 7px;
}

.arrow {
  width: 30px;
}

.icon {
  font-size: 1.125rem;
}

.more_lines {
  position: absolute;
  bottom: 0;
}

.cap {
  text-transform: capitalize;
}

.reported_text {
  color: var(--color-medium-grey);
}

@media (hover:hover), (-moz-touch-enabled: 0) {
  .right_footer a:hover {
    color: var(--color-medium-blue);
  }

  .link:hover {
    opacity: 0.5;
  }
}

.view_on {
  font-weight: 700;
  flex: 0 0 auto;
  margin-right: 5px;
}

.link {
  white-space: nowrap;
  padding: 2px 0;
  display: inline-flex;
  align-items: center;
}

.badge {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 3px;
}

.link_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 130px);
  grid-gap: 5px;
  flex: 1 1 auto;
  margin-right: 5px;
}

.info_bar {
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
  color: var(--color-medium-grey);
  font-weight: 600;
  font-size: .875rem;
}
