.root {
  color: var(--color-white-blue);
}

.container {
  margin: 0 auto;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.container_colored {
  background-color: var(--color-ocean-blue);
}

.right_column {
  text-align: right;
  font-size: 0.875rem;
}

.right_column:hover, .left_column:hover {
  color: var(--color-sky-blue);
}

.left_column {
  font-family: var(--font-family-header) !important;
  font-size: 1.25rem;
}

.super {
  vertical-align: super;
  font-size: 0.75rem;
}
