:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: 'Open Sans', 'HelveticaNeue-Light', sans-serif;

  --font-family-header: 'Raleway', 'HelveticaNeue-Light', sans-serif;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  --screen-xs-min: 480px;  /* Extra small screen / phone */
  --screen-sm-min: 768px;  /* Small screen / tablet */
  --screen-md-min: 992px;  /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */

  --color-deep-blue: #33527D;
  --color-ocean-blue: #4E7FC3;
  --color-medium-blue: #568CDC;
  --color-sky-blue: #76B6FF;
  --color-ice-blue: #ECF5FF;
  --color-white-blue: #ECF5FF;

  --color-medium-grey: #838383;
  --color-medium-grey-transparent: #83838390; /* CSS does not support alpha channel with variables */
  --color-dark-black: #0D141D;
  --color-default-background: #F8F8F9;

  --footer-height: 65px;
}
