.title {
  text-align: center;
  margin: 50px 0px;
  color: var(--color-deep-blue);
  font-size: 48px;
  font-family: var(--font-family-header);
}

.body {
  margin: 0 auto;
  max-width: 700px;
}

.feedback {
  margin-top: 100px;
  margin-bottom: 50px;
}

.input_row {
  display: flex;
  flex-wrap: wrap;
  margin: 5px -5px
}

.feedback_title {
  font-family: var(--font-family-header);
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.input_group {
  flex: 1;
  display: flex;
  margin: 5px;
}

.input_box {
  flex: 1;
  margin: 0 7px;
}

.message_row {
  display: flex;
  margin: 5px 0px;
}

.textarea {
  margin: 5px 5px;
  resize: none;
  flex: 1;
  border-color: #cccccc;
  height: 5rem;
}

.error_textarea {
  border-color: red;
}

.button {
  background-color: var(--color-ocean-blue);
  color: var(--color-white-blue);
  min-height: 2.5rem;
  border: unset;
}

.submit_row {
  display: flex;
  justify-content: flex-end;
}
